.country-detail{
    display: flex;
    flex-direction: column;
    background-color: #202D36;
    overflow-x: hidden;
    /* justify-content: center; */
    /* align-items: flex-start; */
    /* border: 1px solid white; */
    height: 100%;
    /* padding: 2rem; */
}
.total{
    display: flex;
    flex-direction: column;
    position: relative;
}
.back-button-container button{
    padding: 0.5rem 2.5rem 0.5rem 2.5rem;
    border-radius: 0.25rem;
    border-width: 0px;
    background-color: #2B3743;
    color: #FFFFFF;
    font-weight: 500;
    cursor: pointer;
    margin-left: 13rem;
    margin-top: 6rem;
}

.back-button-container{
    /* padding-left: 6rem;
    padding-top: 6rem; */
    background-color: #202D36;

}

.border-button{
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 0.25rem;
    border-width: 0px;
    background-color: #2B3743;
    color: #FFFFFF;
    font-weight: 500;
    cursor: pointer;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.detail-country-info{
    display: flex;
    justify-content: space-between;
    margin-top: -1rem;
    align-items: flex-start;
    /* border: 1px solid white; */
}

.details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    height: 90vh;
    margin-top: -4rem;
}

.img-container img {
    height: 24rem;
    width: 32rem;
}

.country-info {
    display: flex;
    flex-direction: column;
    padding: 0rem;
    /* border: 1px solid white; */
    justify-content: space-between;
    width: 45vw;
}

.country-info h2 {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.country-info p {
    font-size: 1.2rem;
}

.country-inner-info1 {
    padding-bottom: 3rem;
}

.country-inner-info2 {
padding-top: 4rem;
}

.border-names{
    margin-top: -1rem;
}

#dark-mode{
    background-color: #202D36;
    color: #FFFFFF;
}

#light-mode{
    background-color: #FAFAFA;
    color: black;
}

#light-mode button {
    background-color: #FFFFFF;
    color: black;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

@media all and (max-width:450px) {
    .details-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 2rem;
        height: 100%;
    }
    .country-info{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
        /* border: 1px solid white; */
        width: 100%;
    }
    .detail-country-info{
        display: flex;
        flex-direction: column;
        margin: 0;
        justify-content: flex-start;
    }
    .border-names{
        display: flex;
        height: 100%;
        flex-wrap: wrap;
        margin-top: 1rem;
        /* border: 1px solid white; */
        height: 100%;
    }
    .border-names button{
        margin-bottom: 1rem;
    }
    .country-inner-info1{
        padding: 0;
        margin: 0;

    }
    .country-inner-info2{
        padding: 0;
        margin: 0;
    }
    .img-container img{
        margin-top: 5rem;
        width: 18rem;
        height: 20rem;
    }

    .back-button-container button{
        margin-left: 2rem;
        margin-top: 3rem;
    }
}