@import url("https://fonts.googleapis.com/css?family=Nunito Sans");

.filter-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 0 2rem 0;
    background-color: #202D36;
    /* border: 1px solid white; */
    overflow-x: hidden;
    padding-top: 3rem;
    z-index: 1;
}

.filter-container input{
    margin-left: 3.5rem;
    padding: 1rem 15rem 1rem 2rem;
    border-radius: 0.5rem;
    background-color: #2B3743;
    border-color: none;
    border-width: 0px;
    color: #FFFFFF;
    font-family: "Nunito sans";
    font-size: 1rem;
}

.filter-container input::placeholder {
    color: #FFFFFF;
}

.drop-down{
    margin-right: 5rem;
    padding: 1rem 2rem 1rem 1rem;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    background-color: #2B3743;
    border-color: none;
    border-width: 0px;
    border-radius: 0.5rem;
    /* width: 100%; */
}

#region{
    background-color: #2B3743;
    border-color: none;
    border-width: 0px;
}

#region::before{
    background-color: #2B3743;
    border-color: none;
    border-width: 0px;
}

#region::after{
    border-width: 0px;
    border-color: #202D36;
    border-style: none;
    width: 5rem;
}

#subregion{
    background-color: #2B3743;
    border-color: none;
    border-width: 0px;
}

#subregion::before{
    background-color: #2B3743;
    border-color: none;
    border-width: 0px;
}

#subregion::after{
    border-width: 0px;
    border-color: #202D36;
    border-style: none;
    width: 5rem;
}

#areasort{
    background-color: #2B3743;
    border-color: none;
    border-width: 0px;
}

#areasort::before{
    background-color: #2B3743;
    border-color: none;
    border-width: 0px;
}

#areasort::after{
    border-width: 0px;
    border-color: #202D36;
    border-style: none;
    width: 5rem;
}
#populationsort{
    background-color: #2B3743;
    border-color: none;
    border-width: 0px;
}

#populationsort::before{
    background-color: #2B3743;
    border-color: none;
    border-width: 0px;
}

#populationsort::after{
    border-width: 0px;
    border-color: #202D36;
    border-style: none;
    width: 5rem;
}

.drop-down label{
    color: #FFFFFF;
    font-family: "Nunito sans";
}

.drop-down select{
    color: #FFFFFF;
    font-family: "Nunito sans";
    font-size: 1rem;
    padding: 0rem 1rem 0 1rem;
}

.drop-down select option{
    color: #FFFFFF;
    font-family: "Nunito sans";
    font-size: 1rem;
    padding: 0rem 1rem 1rem 1rem;
    width: 10rem;
}

.light-mode input{
    color: black;
}

.light-mode{
    background-color: #FAFAFA;
}
  
.dark-mode{
    background-color: #202D36;
}

.light-mode input{
    background-color: #FFFFFF;
}

.light-mode input::placeholder {
    color: black;
}

.light-mode .drop-down{
    margin-right: 5rem;
    padding: 1rem 2rem 1rem 1rem;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-color: none;
    border-width: 0px;
    border-radius: 0.5rem;
    color: black;
    /* width: 100%; */
}

.light-mode #region{
    background-color: #FFFFFF;
    border-color: none;
    border-width: 0px;
    color: black;
}

.light-mode #region::before{
    background-color: #2B3743;
    border-color: none;
    border-width: 0px;
    color: black;
}

.light-mode #region::after{
    border-width: 0px;
    border-color: #202D36;
    border-style: none;
    width: 5rem;
    color: black;
}

.light-mode .drop-down label{
    color: black;
    font-family: "Nunito sans";
}

.light-mode .drop-down select{
    color: black;
    font-family: "Nunito sans";
    font-size: 1rem;
    padding: 0rem 1rem 0 1rem;
}

.light-mode .drop-down select option{
    color: black;
    font-family: "Nunito sans";
    font-size: 1rem;
    padding: 0rem 1rem 1rem 1rem;
    width: 10rem;
}

.light-mode #subregion{
    background-color: #FFFFFF;
    border-color: none;
    border-width: 0px;
    color: black;
}

.light-mode #areasort{
    background-color: #FFFFFF;
    border-color: none;
    border-width: 0px;
}

.light-mode #populationsort{
    background-color: #FFFFFF;
    border-color: none;
    border-width: 0px;
}

@media all and (max-width: 450px) {
    .filter-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 2.8rem;
        /* border: 1px solid red; */
    }
    .filter-container input{
        margin-left: 0px;
        padding-right: 0rem;
        margin-bottom: 1rem;
        width: 80%;
    }
    .drop-down{
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
    }
}