@import url("https://fonts.googleapis.com/css?family=Nunito Sans");

.dark-mode header{
    background-color: #2B3743;
    /* border: 1px solid red; */
    cursor: pointer;
}

.dark-mode .icon{
    fill: "black";
}

.dark-mode header .header-heading{
    color: white;
}

.light-mode header{
    background-color: #FFFFFF;
    border: 1px solid white;
}

.light-mode header .header-heading{
    color: #2B3743;
}

.dark-mode header .mode{
    color: #FFFFFF;
}

.light-mode header .mode{
    color: #2B3743;
}

header{
    background-color: #2B3743;
    padding: 0.75rem 0 0.75rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}
.header-heading{
    color: #FFFFFF;
    font-family: "Nunito Sans";
    font-size: 1.5rem;
}

.mode{
    color: #FFFFFF;
    font-family: "Nunito Sans";
    font-size: 1.5rem;
    padding-right: 6rem;
}

.icon{
    /* border: 1px solid white; */
    height: 2rem;
    width: 2rem;
    /* color: #FFFFFF;
    fill: #FFFFFF; */
}

.light-mode header .icon{
    fill: black;
}


.mode{
    display: flex;
    /* border: 1px solid white; */
    justify-content: center;
    align-items: center;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
  }

@media all and (max-width:450px) {
    header{
        padding: 1rem;
        /* border: 1px solid white; */
    }
    .mode{
        padding: 0px;
    }
}