@import url("https://fonts.googleapis.com/css?family=Nunito Sans");
.main-page{
    display: flex;
    flex-direction: column;
    background-color: #202D36;
    overflow-x: hidden;
    justify-content: center;
    /* border: 1px solid #FFFFFF; */
}

.country-info-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #202D36;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    padding-left: 3.5rem;
    /* border: 1px solid red; */
    text-decoration: none;
}

.each-country{
    width: 18rem;
    margin-right: 4rem;
    margin-bottom: 4.5rem;
    margin-top: 1rem;
    background-color: #2B3743;
    /* border: 1px solid white; */
    height: auto;
}

.country-image{
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    width: 100%;
    height: 13rem;
    margin: 0;
}

.each-country-info{
    /* border: 1px solid red; */
    margin-top: -0.23rem;
    background-color: #2B3743;
    padding: 1.2rem;
    /* line-height: 0.8rem; */
    border-radius: 0 0 6px 6px;
}


.country-name{
    color: #FFFFFF;
    font-family: "Nunito Sans";
    text-decoration: none;
}



.span-element{
    color: #e4ebf2;
    font-family: "Nunito Sans";
    font-weight: 200;
}

.category{
    color: #FFFFFF;
    font-family: "Nunito Sans";
    text-decoration: none;
}

.error-message{
    color: red;
    font-family: "Nunito Sans";
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
    /* border: 1px solid white; */
}

.empty-state{
    color: red;
    font-family: "Nunito Sans";
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
    /* border: 1px solid white; */
}

.light-mode .country-info-container{
    background-color: #FAFAFA;
}

.light-mode .each-country-info{
    background-color: #FFFFFF;
}
.light-mode .each-country{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.light-mode .category{
    color: black;
}

.light-mode .category .span-element{
    color: black;
}

.light-mode .country-image{
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
}

.light-mode .each-country-info{
    border-radius: 0px;
}

.light-mode .country-name{
    color: black;
}

@media all and (max-width:450px) {
    .main-page{
        /* border: 1px solid red; */
        overflow-x: hidden;
        padding-left: -2rem;
    }

    .country-info-container{
        padding-left: 2.8rem;
    }
}